In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
df=pd.read_csv('kc_house_data.csv')

In [22]:
df.drop(['id'],axis=1,inplace=True)

In [24]:
df.drop(['date'],axis=1,inplace=True)

In [25]:
df.drop(['waterfront'],axis=1,inplace=True)

In [26]:
df.drop(['view'],axis=1,inplace=True)

In [28]:
df.drop(['condition'],axis=1,inplace=True)

In [30]:
new=df.loc[[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]]

In [36]:

new.drop(['floors','grade','sqft_above','sqft_basement','yr_renovated','zipcode','lat','long','sqft_living15','sqft_lot15','sqft_living','sqft_lot'],axis=1,inplace=True)

In [37]:
new

        price  bedrooms  bathrooms  yr_built
0    221900.0         3       1.00      1955
1    538000.0         3       2.25      1951
2    180000.0         2       1.00      1933
3    604000.0         4       3.00      1965
4    510000.0         3       2.00      1987
5   1225000.0         4       4.50      2001
6    257500.0         3       2.25      1995
7    291850.0         3       1.50      1963
8    229500.0         3       1.00      1960
9    323000.0         3       2.50      2003
10   662500.0         3       2.50      1965
11   468000.0         2       1.00      1942
12   310000.0         3       1.00      1927
13   400000.0         3       1.75      1977
14   530000.0         5       2.00      1900
15   650000.0         4       3.00      1979

In [38]:
from sklearn import linear_model

In [42]:
model=linear_model.LinearRegression()
model.fit(new.drop('price',axis='columns'),new.price)

LinearRegression()

model.predict(4,2,2000)

In [43]:
model.predict([[4,2,2000]])

array([245053.06919126])